* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    --primary-color: rgb(31, 31, 31);
    --secondary-color: rgb(73, 73, 73);
    --gray: rgb(228, 228, 228);
}

body {
    font-family: Ubuntu;
    font-size: 14px;
    box-sizing: border-box;
}

h4{
    font-size: 20px;
}
h5{
    font-size: 15px;
    font-weight: normal;
}

.header {
    background-image: url('.');
    overflow: hidden;
}

.header__logo{
    width: 100px;
    height: auto;
}

.navbar {
    height: 60px;
    width: 100%;
    padding: 0px 20px;
    background-color: var(--primary-color);
    color: white;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.searchbar{
    width: auto;
    height: 60%;
    flex-grow: 1;
    border-radius: 5px;
    border: none;
    margin: 0px 30px;
    padding-right:20px;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.search-input{
    font-size: 15px;
    color: grey;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    border: none;
}

.search-list{
    font-size: 15px;
    padding: 5px 10px;
    height: 100%;
    width: auto;
    outline: none;
    border: none;
    background-color: var(--gray);
    -webkit-background-clip: text ;
}

.search-list option{
    padding: 5px 5px;
    background-color: white;
}


.search-input:focus{
    outline: none;
}

.icon{
    width: 15px;
    height: 15px;
    fill: grey;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.box {
    background-color: rgb(131, 212, 25);
    height: auto;
    width: 40px;
}

.menu-item {
    text-transform: uppercase;
    margin: 0px 0px;
    padding: 0px 15px;
    height: 100%;
    font-weight: normal;
    cursor: pointer;
    color: rgb(233, 233, 233);
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
}

.menu-item:hover {
    color: var(--primary-color);
    background-color: rgb(235, 235, 235);
}

.menu-item:hover .drop-down {
    display: block;
}

.drop-down {
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: auto;
    min-width: 200px;
    z-index: 1;
    list-style: none;
    padding: 0px;
    background-color: rgb(235, 235, 235);
    box-sizing: border-box;
}
.drop-down__item{
    padding: 10px 10px;
    color: var(--primary-color);
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}
.drop-down__item:hover{
    font-weight: bold;
    background-color: rgb(190, 190, 190);
}

@keyframes slider-animation{
    0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: -300%; }
}

@keyframes dim-animation{
    0% { left: 0; filter: brightness(0%); }
	30% { left: 0;filter: brightness(100%); }
	33% { left: -100%; filter: brightness(0%);}
	63% { left: -100%; filter: brightness(100%); }
	66% { left: -200%; filter: brightness(0%); }
	95% { left: -200%; filter: brightness(100%);}
	100% { left: -300%;filter: brightness(0%);  }
}

.slider{
    width: 300%;
    height: 100vh;
    position: relative;
    animation: 10s slider-animation infinite ease-in-out;
}

.slide{
    width: 33.333333333%;
    height: 100%;
    /* background-size: cover; */
    object-fit: cover;
    float: left;
    -webkit-mask-image:-webkit-gradient(linear, left center, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

main{
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    top: 55%;
    position: absolute;
    width: 95vw;
    gap: 20px;
}

.grid-item{
    background-color: white;
    width: auto;
    height: auto;
    box-sizing: border-box;
    justify-self: stretch;
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.grid-item:hover{
    box-shadow: 0px 0px 50px -30px black;
    transform: scale(1.02);
}

.grid-item__title{
    font-size: 21px;
    font-weight: bold;
    text-align: left;
}


.grid-4-in-1{
    display: grid;
    grid-template-areas: 'a b';
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card__action{
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0px;
}

.card__product-image{
    width: 90%;
    height: 90%;
    object-fit: contain;
    transition: 0.2s ease-in-out;
}


.card__product-image:hover{
    transform: scale(1.06);
}

footer{
    height: 100px;
    background-color: var(--primary-color);
    margin: auto;
    margin-top: 60px;
    color: white;
    text-align: center
}